spring.application.name=transportation_equipment
spring.data.mongodb.uri=mongodb+srv://<username>:<pwd>@<cluster>.mongodb.net/transportation_equipment
spring.data.mongodb.database=transportation_equipment